body{
    background-color: #c2c49b;
}
h1{
    text-align: center;
    color: black;
    font-size: 40px;
}
h6{
    text-align: right;
    color: white;
    font-size: 40px;
}
button{
    background-color: transparent;
    border:2px solid white;
    border-radius: 25px;
    width: 20%;
    height: 20%             
} 
h3{
    text-align: left;
    color: white;
    font-size: 40px;         
}
ul{
    text-align: left;
    color: white;
    font-size: 40px; 
    line-height:0.2% ;
}